<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>2bTrust | Investiment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="font/iconsmind-s/css/iconsminds.css" />
    <link rel="stylesheet" href="font/simple-line-icons/css/simple-line-icons.css" />

    <link rel="icon" type="image/png" href="img/favicon.ico">
    <link rel="stylesheet" href="css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="css/vendor/bootstrap.rtl.only.min.css" />
    <link rel="stylesheet" href="css/vendor/select2.min.css" />
    <link rel="stylesheet" href="css/vendor/perfect-scrollbar.css" />
    <link rel="stylesheet" href="css/vendor/bootstrap-stars.css" />
    <link rel="stylesheet" href="css/main.css" />
</head>

<body id="app-container" class="menu-default show-spinner">

    <div class="menu" style="opacity: 1;">
        <div class="main-menu default-transition">
            <div class="scroll ps">
                <ul class="list-unstyled">
                    <li class="clMenu active" id="clMenu_Overview">
                        <a href="../Home">
                            <i class="glyph-icon iconsminds-digital-drawing"></i>
                            <span>Overview</span>
                        </a>
                    </li>
                    <li class="clMenu" id="clMenu_Transactions">
                        <a href="../Transaction">
                            <i class="glyph-icon iconsminds-receipt-4"></i> Transactions
                        </a>
                    </li>
                    <li class="clMenu" id="clMenu_Portifolio">
                        <a href="../Portifolio">
                            <i class="glyph-icon iconsminds-monitor-analytics"></i> My Portfolio
                        </a>
                    </li>
                    <li class="clMenu" id="clMenu_Investiments">
                        <a href="../Investiment/New">
                            <i class="glyph-icon simple-icon-paper-plane"></i> Investments
                        </a>
                    </li>
                    <li class="clMenu" id="clMenu_Transfer">
                        <a href="../Transfer">
                            <i class="glyph-icon iconsminds-dollar"></i> Transfer
                        </a>
                    </li>
                    <li>
                        <a href="../Doc" id="clMenu_Documents">
                            <i class="glyph-icon iconsminds-add-file"></i> Documents
                        </a>
                    </li>
                    <li>
                        <a href="../Help" id="clMenu_Helps">
                            <i class="glyph-icon iconsminds-idea"></i> Help
                        </a>
                    </li>
                </ul>
            <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
        </div>
    </div>
    
    
    <main></main>


    <script src="js/vendor/jquery-3.3.1.min.js"></script>
    <script src="js/vendor/bootstrap.bundle.min.js"></script>
    <script src="js/vendor/chartjs-plugin-datalabels.js"></script>
    <script src="js/vendor/moment.min.js"></script>
    <script src="js/vendor/perfect-scrollbar.min.js"></script>
    <script src="js/vendor/progressbar.min.js"></script>
    <script src="js/vendor/jquery.barrating.min.js"></script>
    <script src="js/vendor/select2.full.js"></script>
    <script src="js/vendor/nouislider.min.js"></script>
    <script src="js/vendor/mousetrap.min.js"></script>
    <script src="js/vendor/glide.min.js"></script>
    <script src="js/dore.script.js"></script>
    <script src="js/scripts.js"></script>
</body>

</html>